norxdemo-key.jks
**/.gradle
**/.cxx
src/cache
build/android-native/app/src/main/assets/data
build/android-native/app/src/main/jni/*.c
build/android-native/app/src/main/jni/*.h
build/android-native/app/build
*.log